# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Tanstack
.tanstack/

# Environment
.env
.env.local
.env.*.local

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

/generated/prisma
