DATABASE_URL=

PORT=
ENVIRONMENT=
API_URL=
FRONTEND_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

RESEND_API_KEY=

GROQ_API_KEY=
GROQ_BASE_URL=

APIFY_TOKEN=

BLOCKCHAIN_RPC_URL=
BLOCKCHAIN_CONTRACT_ADDRESS=
BLOCKCHAIN_PRIVATE_KEY=

PINATA_JWT=
