DATABASE_URL=

PORT=
ENVIRONMENT=
API_URL=
FRONTEND_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

RESEND_API_KEY=

GROQ_API_KEY=
GROQ_BASE_URL=

# Blockchain Configuration
BLOCKCHAIN_RPC_URL=https://polygon-amoy.drpc.org
BLOCKCHAIN_CONTRACT_ADDRESS=0xA89C784ee8Bf5448089A39e801e9610B325ef14D
BLOCKCHAIN_PRIVATE_KEY=
